body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  color: #555; }
  body a {
    text-decoration: none;
    color: #555; }
  body .Left-menu a {
    display: block; }
  body .App-content {
    max-width: 800px;
    margin: 40px auto; }
